h1.header{
    background-color:aqua;
    color:yellow;
    text-align:center;
}
.yt{
    color:black;
    text-align:center;
    border:dashed;
}
h1.footer{
    text-align:center;
    color:orangered;
     Background-color:purple;
}
p.style1{
    text-align:center;
    text-indent:50px;
    color:green;

}
p.style2{
    text-align:justify;
    text-indent:50px;

}